*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/*
::-webkit-scrollbar {
    width: 50px;
    background-color: beige;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: bisque;
} */

// 确保主区域不会因为内容过多而溢出容器
%flex-protect {
    min-width: 0;
    min-height: 0;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

input[type="input"] {
    border: 0;
    min-height: 22px;
}

a {
    text-decoration: inherit;
}

input,
button {
    outline: none;
}
